ion-content {
  display: flex;
  align-items: center;
  justify-content: center; /* centraliza verticalmente */
  padding: 2rem;
  background: #f7f8fa;
  height: 100%;
  text-align: center;
  width: 100%;
}
.containerButton{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* Título */
h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 2rem;
}

/* Botões grandes e elegantes */
ion-button {
  width: 200px;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 12px;
  --box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

/* Diferenciar cores dos setores */
ion-button[color="primary"] {
  --background: #3498db;
}

ion-button[color="secondary"] {
  --background: #2ecc71;
}

ion-button[color="tertiary"] {
  --background: #e67e22;
}

/* Última senha */
h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #34495e;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: #ecf0f1;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

/* Botões hover */
ion-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
