<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="centralizado">
    <h2>
      Próxima senha:
      <ng-container *ngIf="proximaSenha$ | async as proximaSenha">
        {{ proximaSenha?.numero || 'Nenhuma' }}
      </ng-container>
    </h2>

    <h3>Fila de senhas</h3>
    <div class="ultimas-senhas">
      <div *ngFor="let s of (senhas$ | async) | slice:-5" class="senha-item">
        {{ s.numero }}
      </div>
    </div>
  </div>
</ion-content>
